body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#fefc00, #f394ff);
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0a1b2d;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f4d9cc;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

::-webkit-input-placeholder {
    color: #1e3754;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: .5s;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: #f4d9cc;
}